@use 'base';

body {
    width: 100vw;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}



/* HEADER STYLES*/

/* STÖRRE SKÄRMAR */
header {
    display: flex;
    /* Placerar elementen längst ut till varje kant */
    align-items: center;
    /* Centrerar vertikalt */
    background-color: base.$main-color;
}

#logo {
    width: 5em;
}

#logo-text {
    color: base.$text-color;
    width: fit-content;
    text-decoration: none;
    margin-left: 1em;
    width: 50%;
}

#open-menu {
    display: none;
}

#nav-menu {
    display: none;
}

#bigScreenList {
    display: flex;
    width: 48%;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-right: 1em;
}

.menyLänkar {
    color: base.$text-color;
    text-decoration: none;
    @include base.h2-styles;
}

.menyLänkar:hover {
    cursor: pointer;
    color: white;
}



/* MOBILLÄGE */
@media screen and (max-width: 700px) {

    #bigScreenList {
        display: none;
    }

    #open-menu {
        display: flex;
    }

    nav {
        background-color: base.$main-color;
        box-shadow: 0 0px 10px black;
        font-size: 26px;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        display: none;
        z-index: 1000;
        width: 50%;
    }

    nav ul {
        width: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    nav li {
        width: 100%;
        margin-top: 1em;
    }

    nav a {
        color: base.$text-color;
        text-decoration: none;
        font-weight: 600;
        @include base.p-styles;
    }

    nav a:hover {
        cursor: pointer;
        color: white;
    }

    .menu-text {
        color: base.$text-color;
    }
}


// MAIN STYLES

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 801px) {
    main {

        article,
        section {
            width: base.$container-width-big;
        }

        div {
            width: 50em;
        }
    }
}

@media screen and (min-width: 401px) and (max-width: 800px) {
    main {
        article,
        section {
            width: base.$container-width-small;
        }
        div {
            width: 25em;
        }
    }
}

@media screen and (max-width: 400px) {
    main {
        article,
        section {
            width: 12em;
        }
        div {
            width: 12em;
        }
    }
}


/* FOOTER STYLES */

footer {
    background-color: base.$main-color;
    margin: 0%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 2em;
}

footer p {
    width: fit-content;
    margin-left: 1em;
    font-size: 1em;
    font-weight: 600;
}